#footer
    padding: 20px 0
    border-top: 1px solid color-border
    color: color-default
    font-size: font-size + 2
    text-align: center
    .outer
        margin-bottom: 0
    a
        color: color-link
        text-decoration: none
        &:hover
            text-decoration: underline

#footer-info
    line-height: line-height
    font-size: 0.85em

.with-love {
  display: inline-block;
  margin: 0 5px;
}

.site-uv,
.site-pv,
.page-pv {
  display: inline-block;
}
.site-uv .busuanzi-value,
.site-pv .busuanzi-value,
.page-pv .busuanzi-value {
  margin: 0 5px;
}
.site-uv {
  margin-right: 10px;
}
.site-uv::after {
  content: "|";
  padding-left: 10px;
}