<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
        	<div>
	            &copy; <%= date(new Date(), 'YYYY') %> 
	            <span class="with-love">
	 			   <i class="fa fa-heart"></i>
	 			</span>
	            <%= config.author || config.title %>
	        </div>
            <% if (theme.plugins.busuanzi_count) { %> 
            <div>
	            <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	            <span class="site-uv" id="busuanzi_container_site_uv" style="display: inline;">
	      			<i class="fa fa-user"></i>访客数
	      			<span class="busuanzi-value" id="busuanzi_value_site_uv">887</span>
	      		</span>
	      		<span class="site-pv" id="busuanzi_container_site_pv" style="display: inline;">
	     			<i class="fa fa-eye"></i>总访问量
	      			<span class="busuanzi-value" id="busuanzi_value_site_pv">1914</span>
	      		 </span>
	      	</div>
			<% } %>
        </div>
    </div>
</footer>